@import url('./__close-button/popup__close-button.css');
@import url('./__container/popup__container.css');
@import url('./__form-name/popup__form-name.css');
@import url('./__save-button/popup__save-button.css');
@import url('./__input/popup__input.css');
@import url('./__view-container/popup__view-container.css');
@import url('./__image/popup__image.css');
@import url('./__image-caption/popup__image-caption.css');
@import url('./__save-button/_inactive/popup__save-button_inactive.css');
@import url('./__input-error/_active/popup__input-error_active.css');
@import url('./__input/_type/popup__input_type_error.css');
@import url('./__input-error/popup__input-error.css');

.popup {
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .5s ease-in-out;
}

