@import url('./__header/page__header.css');
@import url('./__profile/page__profile.css');
@import url('./__footer/page__footer.css');

.page {
  margin: 0 auto;
  max-width: 882px;
  min-width: 320px;
}
