.cards__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  row-gap: 21px;
  column-gap: 18px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

@media (max-width: 920px) {
  .cards__list {
    margin: 0 9px;
  }
}
