.footer__copyright {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  color: #545454;
}

@media (min-width: 425px) and (max-width: 919px) {
  .footer__copyright {
    margin: 0 0 0 5vw;
  }
}

@media (max-width: 425px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 0 19px;
  }
}
