.profile__edit-button {
  width: 24px;
  height: 24px;
  background-size: 10px 10px;
  border: 1px solid #ffffff;
  background-color: transparent;
  background-image: url('../../../images/icons/edit-button.svg');
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
}

.profile__edit-button:hover {
  opacity: .6;
  transition: .2s linear;
  cursor: pointer;
}

@media (max-width: 714px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}
