.cards__like-button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url('../../../images/icons/like-button.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  margin: 0 15px 0 0;
  padding: 0;
}

.cards__like-button:hover {
  opacity: .6;
  transition: .2s linear;
  cursor: pointer;
}
