.popup__save-button {
  height: 50px;
  background-color: #000000;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: auto 0 0;
  outline: none;
}

.popup__save-button:hover {
  opacity: .8;
  transition: .2s linear;
  cursor: pointer;
}

