.popup__save-button {
  height: 50px;
  background-color: #000000;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  outline: none;
}

.popup__save-button:hover {
  background-color: rgba(0, 0, 0, .8);
  transition: .2s linear;
  cursor: pointer;
}

