@import url('../vendor/normalize.css');
@import url('../blocks/root/root.css');
@import url('../vendor/InterWeb/fonts.css');
@import url('../blocks/popup/popup.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/cards/cards.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/popup/_opened/popup_opened.css');
@import url('../blocks/cards/__like-button/cards__like-button_active.css');
